
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$container-large-desktop: (985px);
// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.container-fluid {
  background-color: #f5f5f5;
}
.heading {
  text-align: center;
}

.header {
  max-width: 985px;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mega-octicon {
  display: inline-block;
  height: 28px;
  width: 28px;
}

.input-group {
  display: inline-block;
  font-size: 12px;
  width:360px;
  height: 28px;
  line-height: 17px;
  padding: 2px;
}

.nav {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  a {
    font-weight: bold;
    font-family: helvetica;
    font-size: 13px;
    text-decoration: none;
    color: #333;
  }
}

.buttoncontainer {
  float: right;
  margin-right: -8px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.plusbutton {
  height: 41px;
  width: 28px;

}

.avatarbutton {
  height: 41px;
  width: 28px;
}

.container {
  padding-top: 20px;
}

.side-nave {
  img {
    border-radius: 6px;
    height: 230px;
    width: 230px;
    line-height: 1;
    vertical-align: middle;
  }
}

.name-login {
  margin-top: 12px;
  margin-bottom: 12px;
  .name{
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
  }
}

.name-login {
  .login {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
  }
}

.sideBar-date {
  list-style: none;
  border-color: #eee;
  border-top: 1px #e5e5e5 solid;
  padding-top: 12px;
  padding-bottom: 12px;
  li {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;

  }
}

.side-list {
  list-style: none;
  text-align: center;
  border-color: #eee;
  border-bottom: 1px #e5e5e5 solid;
  border-top: 1px #e5e5e5 solid;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.workdone {
  width: 730px;
  height: 37px;
}

.nav-tabs {
}

.editprofile {
  a {
    display: inline-block;
    padding: 2px 10px;
    position: relative;
    font: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
  }
}

.searchinfo {
  display: inline-block;
  border-bottom: 1px solid #d5d5d5;
}

#third-template {
  display: inline-block;
  border-bottom: 1px solid #eee;
}

// .repo-name {
//   h1 {
//     text-decoration: none;
//     color: red;
//     font-size: 10px;
//   }
// }

// .repos-list {
//   padding-top: 30px;
//   padding-bottom: 30px;
//   border-bottom: 1px solid #eee;
// }
